.pb-workflow-editor {

    .node-container {
        position: relative;
        background-color: #ffffff;
        border: 1px solid #e5e6eb;
        border-radius: 8px;
        display: flex;
        flex-direction: column;

        .node-header {
            display: flex;
            align-items: center;
            padding: 8px 12px;
            border-bottom: 1px solid #e5e6eb;
            background: #fff;
            border-radius: 8px 8px 0 0;
            height: 40px;
            flex-shrink: 0;

            .node-icon {
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 8px;

                img {
                    width: 16px;
                    height: 16px;
                }
            }

            .node-title {
                color: #1d2129;
                font-weight: 500;
                font-size: 14px;
                flex: 1;
                text-align: left;
                display: flex;
                width: 0;

                .body {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .edit {
                    flex: 1;
                }
            }

            .node-more {
                display: flex;
                gap: 0.5rem;
            }
        }

        .node-content {
            flex-grow: 1;
            overflow: auto;
            border-radius: 0.5rem;
        }
    }

    .lf-anchor circle {
        fill: #ffffff !important;
        stroke: #f1bd8b !important;
    }

    .lf-anchor:hover circle {
        fill: #ffffff !important;
        stroke: #e47f1d !important;
    }

    .lf-node-selected {
        .node-container {
            border: 1px solid #ed8016;
        }
    }

    .modification-overlay {
        display: none;
    }

    .pb-node-config-panel {
        .arco-input-wrapper {
            padding: 0px 3px;

            .arco-input.arco-input-size-small {
                font-size: 12px;
                padding: 3px 3px;
            }
        }
    }
}

.pb-workflow-node-more-action {
    .arco-dropdown-option-content {
        line-height: 24px;
    }
}
